.container{
    width: 300px;
    height: 406px;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    
    transform: translate(-50%, 0%);
    
}
.calculator{
    display: flex;
    flex-direction: column 
    
    
    

}
.frame{
    flex: 1;
    padding: 3px;
    background-color: lightslategray;
}


.display{
    flex: 1;
    border: 1px solid black;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 10px;
    font-size:25pt;
    box-sizing: border-box;
    height: 60px;
    width: 294px;
}

.row{
    flex: 1;
    display: flex;

}

.number,.operation,.equals,.decimal{
    flex: 1;
    border: 1px solid black;
    background-color: white;
    margin: 10px;
    text-align: center;
    font-size:25pt;
}

.equals{
    background-color: lightblue;
}

.operation,.decimal{
    background-color: lightgrey;
}

aside {
  width: 10%;
  float: left;
  margin-right: 25px;
  padding-bottom: 100%;
  padding-right: 3px;
  box-shadow: inset -10px 0px 10px -9px rgb(161, 120, 186);
  text-align: center;
  font-size: 14pt;
}
main {
  float: inline-start;
  width: 80%;
}
.hyperlink{
  color:green;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

