body {
  color: black;
  font-family: Verdana;
}
h1{
    color: rgb(238, 71, 0);
}

#Rock{
    background-color: rgb(100, 100, 100);
    border: 2px solid black;
    
}
#Paper{
    border: 2px solid black;
    
}
#Scissors{
    background-color: rgb(255, 17, 17);
    border: 1px solid black;
    
}
.game-container{
    width: 300px;
    height: 100px;
}
.choice-container{
    width: 250px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.choice{
    display: flex;
    width: 75px;
    height: 50px;
    align-items: center;
    justify-content: center;
}
#ancestor #child{
    color: red;
}
#ancestor #child > img{
    color: aqua;
    background-color: blue;
    border-radius: 8px;
    width: 400px;
    height: auto;
}
aside {
  width: 10%;
  float: left;
  margin-right: 25px;
  padding-bottom: 100%;
  padding-right: 3px;
  box-shadow: inset -10px 0px 10px -9px rgb(161, 120, 186);
  text-align: center;
  font-size: 14pt;
}
main {
  float: inline-start;
  width: 80%;
}
.hyperlink{
  color:green;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}