aside {
  width: 30%;
  padding-right: 10px;
  margin-right: 0.5rem;
  padding-bottom: 0.5rem;
  float: left;
  box-shadow: inset -5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
  

}

aside > p {
  margin: 0.5rem;
}
