p,h3,h1,h2,div{
   margin-left: 20%;
   margin-right: 20%; 
   margin-bottom: 5px;
}
@media (max-width: 1000px){
    p,h3,h1,h2,div{
        margin-left: 5%;
        margin-right: 5%; 
        margin-bottom: 5px;
    }
}


img{
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
}
.unc{
    width: 30%;
    height: auto;
}
.star{
    color: rgb(180, 194, 255);
}
.emptyStar{
    color: rgb(180, 180, 193);
}
.heart{
    color: rgb(255, 82, 82);
}
.gameCover{
    width: 30%;
    height: auto;
}
.finishDate{
    margin-left: 5%;
    font-size: 15pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

