body {
  color: black;
  font-family: Verdana;
}
h1{
    color: rgb(238, 71, 0);
}

#Rock{
    background-color: rgb(100, 100, 100);
    border: 2px solid black;
    
}
#Paper{
    border: 2px solid black;
    
}
#Scissors{
    background-color: rgb(255, 17, 17);
    border: 1px solid black;
    
}
.game-container{
    width: 300px;
    height: 100px;
}
.choice-container{
    width: 250px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.choice{
    display: flex;
    width: 75px;
    height: 50px;
    align-items: center;
    justify-content: center;
}
